DB_HOST = 'localhost'
DB_PORT = 3306  
DB_NAME = 'password_vault'                      #do_not_change
DB_USER = 'your_username'  #default = root      #sqlserver_username
DB_PASSWORD = 'your_password'                   #sqlserver_password
ENCRYPTION_STRING = '"y|]l/4khC;9:iWDZY?H)v+a2B8,QSEVb}xcpLfX7gu.mO%$dUrKtnM3F[{*_>jqTNA<w0eRz^&`PIoG@(!5s6~J1=#-'  #variable
ENCRYPTION_KEY = 7                              #variable
DEBUG=True